h1{

    color:white;
    text-align: center;
    font-size:200%;
   
    }
cite{
    background:blue;
}
body{
        background-color:black;
}
h2{
    
     border: 2px solid;
    padding: 10px;
    background:red;
    color:white;
    text-align:left;
    font-size:140%;
    float:left;

}

#pic2{
    float:center;
}
p{
    
    color:white;
    font-size:170%;
    
     right:1px;
     top: 575px;
}
cite2{
    font-size:200%;
}
.box{
    display: none;
    width: 100%;
}

a:hover + .box,.box:hover
{
    display: block;
    position: relative;
    z-index: 100;
}
    
p2{
    
    color:grey;
    font-size:170%;
    position:absolute;
     right: 50px;
     top: 600px;
}
nav{
    float:left;
}
p3
{
     color:grey;
    font-size:170%;
    position:absolute;
     right: 50px;
     top: 550px;
    
}