h1{
    float:center;
    text-align:center;
    /*border-style:2px;*/
    /*border-color:red;*/
    
    /*background-color: lightgrey;*/
}
h2{
    float:center;
    text-align:center;
    /*border-style:solid;*/
    /*border-color:red;*/
    /*background-color: lightgrey;*/
}
h3{
    text-align:center;
    float:center;
    /*border-style:solid;*/
    /*border-color:red;*/
    /*background-color: lightgrey;*/
    color:white;
}
body{
    width:80%;
}
li{
    width:100;
    float:center;
}
    
