h2.solid{
    border-style: solid;
    text-align:center;
    background-color:black;
    float:center;
    
    
}
body{
   
    text-align:center;
    
    color:red;
     background-image: url("nfl2.png");
     float:center;
    
}
#content {
   width: 600px;
   margin-left: auto;
   margin-right: auto;
}
h3{
    color:grey;
    border-style:solid;
    border-color:red;
    background-color:green;
    text-align:center;
}
p{
    color:red;
}